################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Droid/TipCalculator/.vs/TipCalculator/v15
